@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

a{
  width: auto;
  height: auto;
  text-decoration: none;
  color: #262626;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  color: #262626;
}

ion-icon {
  font-size: 22px;
  color: #262626;
}

/* ==================== CABECALHO ==================== */


.linha-horizontal-topo{
  width: 100%;
  height: 1px;
  background-color: #DBDBDB;
  position: fixed;
  top: 54px;
  left: 0;
  z-index: 1;
}

.linha-vertical{
  width: 1px;
  height: 22px;
  background-color: #DBDBDB;
  margin: auto 10px;
}

.header {
  width: 100%;
  height: 54px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.cabecalho-desktop{
  width: 935px;
  height: 54px;
  display: flex;
  margin: auto;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.cabecalho-desktop div{
  display: flex;
  align-items: center;
}

.cabecalho-desktop a{
  margin: 15px 0 15px 20px;
}

.logos a{
  margin: 0;
}

.logos img{
  height: 29px;
  margin-top: 8px
}

.pesquisar {
  width: 215px;
  height: 30px;
  margin: auto;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  background-color: #FAFAFA;  
}

.cabecalho-mobile{
  display: none;
}

/* ==================== STORIES ==================== */

.caixa-stories{
  width: 614px;
  height: 120px;
  display: flex;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 88px auto auto auto;
  position: relative;
  overflow-x: hidden;
}

.stories{
  width: 70px;
  display: flex;
  margin: auto 0 auto 15px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stories a{
  width: 66px;
  height: auto;
  border-radius: 100%;
}

.fundo-stories{
  width: 66px;
  height: 66px;
  border-radius: 100%;
}

.imagem-stories {
  width: 56px;
  height: 56px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.stories p{
  width: 70px;
  height: 15px;
  margin-top: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stories-arrow ion-icon{
  width: 32px;
  height: 32px;
  color: white;
  position: absolute;
  top: 44px;
  right: 5px;
  filter: drop-shadow(0 4px 4px gray);
  cursor: pointer;
}

/* ==================== POSTS ==================== */
.container{
  display: flex;
  justify-content: center;
  margin: auto;
}

.sidebar-space{
  width: 293px;
  position: relative;
  margin-left: 25px;
}

.post {
  width: 614px;
  margin: 24px auto 60px auto;
  background-color: white;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
}

.post img{
  width: 100%;
  height: auto;
}

.post-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header div{
  display: flex;
  align-items: center;
  margin: 15px;
}

.post-header img{
  width: 32px;
  height: 32px;
}

.post-header p{
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

.post-header ion-icon{
  font-size: 16px;
}

video{
  background-color: #262626;
}

.post-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-footer ion-icon{
  font-size: 22px;
  margin: 10px 0 0 15px;
}

.mark{
  margin-right: 15px;
}

.post-likes{
  display: flex;
  align-items: center;
  margin: 10px 0 10px 15px;
}

.post-likes img{
  width: 20px;
  height: 20px;
}

.post-likes p{
  font-size: 14px;
  margin-left: 5px;
}

.likes a{
  font-weight: bold;
}

.comments-header{
  margin: 15px;
}
.comments-header a{
  font-size: 14px;
  color: #C7C7C7;
}

.comments{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
}

.comment-author{
  font-weight: bold;
  margin-right: 5px;
}

.comments ion-icon{
  font-size: 14px;
  margin-right: 15px;
}

.add-comment{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DBDBDB ;
}

.add-comment div{
  display: flex;
  margin: auto 15px;
  align-items: center;
}

.comment-box{
  margin: auto 15px;
  width: 400px;
  height: 30px;
  border: none;
  font-size: 16px;
  text-align: flex-start;
  outline: none;
}

.publicar{
  color: #B2DFFC;
}

.publicar:hover{
  transition: 300ms;
  color: #0095F6;
}

.arroba{
  color: #139EF2;
  font-weight: 400;
}

/* ==================== SIDEBAR ==================== */

.sidebar{
  width: 293px;
  margin-top: 88px;
  position: fixed;
}

.sidebar a{
  font-weight: 500;
}

.perfil{
  margin: 22px 0;
  display: flex;
  align-items: center;
}

.perfil img{
  width: 56px;
  height: 56px;
}

.account{
  margin: auto 15px;
  font-size: 14px;
}

.sugestao-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #8E8E8E;
}

.sugestao{
  height: 35px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.sugestao-contas{
  display: flex;
  align-items: center;
}

.sugestao-contas div{
  height: 32px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.sugestao-contas p{
  color: #8E8E8E;
  font-size: 12px;
}

.seguir{
  font-size: 12px;
  color: #139EF2;
}

.sugestao img{
  width: 32px;
  height: 32px;
}

.sidebar-footer{
  margin: 30px 0 15px 0;
  font-size: 11px;
  font-weight: 400;
  color: #C7C7C7;
}

.sidebar-footer a{
  font-size: 11px;
  font-weight: 400;
  color: #C7C7C7;
}

.sidebar-copyright{
  font-size: 11px;
  font-weight: 400;
  color: #C7C7C7;
}

.footer-mobile{
  display: none;
}

/* ==================== LAYOUT MOBILE ==================== */
@media (max-width: 935px) and (min-width: 614px){
.sidebar, .sidebar-space{
    display: none;
  }


.cabecalho-desktop a{
   margin: 15px 20px 15px 0px;
}
  
.logos a{
  margin: 0;
}
  
.logos ion-icon{
  margin-left: 20px;
}

}

@media (max-width:614px){

.sidebar, .sidebar-space{
  display: none;
}

.cabecalho-desktop{
  display: none;
}

.cabecalho-mobile{
  width: 100vw;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.cabecalho-mobile a{
  margin: auto 20px;
}

.cabecalho-mobile img{
  height: 29px;
  margin-top: 8px;
}

.feed{
  width: 100vw;
}

.caixa-stories{
  width: 100vw;
  margin-top: 54px;
  background-color: initial;
  border: initial;
}

.stories-arrow{
  display: none;
}

.post{
  width: 100vw;
  margin-top: 0px;
  border-left: none;
  border-right: none;
}

.post > img{
  width: 100vw;
  height: auto;
}

.comment-box{
  width: 50vw;
}

.linha-horizontal-footer{
  width: 100%;
  height: 1px;
  background-color: #DBDBDB;
  position: fixed;
  bottom: 54px;
  left: 0;
  z-index: 1;
}

.footer-mobile{
  width: 100%;
  height: 54px;
  display: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.footer-mobile ion-icon{
  margin: auto 20px;
}

}